<div class= "container">

  <div class = "row">
    <div class ="col-xs-12 col-md-8" >
      <h1 class ="text-center">Enjoy our baby bottle cocktails !</h1>
    </div>

    <div class = "col-xs-12 col-md-4" >
      <h1 class ="text-center">... or make your own!</h1>
    </div>

  </div>

  <div class = "row">

    <div class ="col-xs-12 col-md-8">

      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to cocktail_path(cocktail) do %>

            <% if cocktail.photo.url %>

              <div class="card image-spin" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path cocktail.photo, height: 200, width: 400, crop: :fill %>')">
                <div class="card-description">
                  <h2><%= cocktail.name %></h2>
                  <%  cocktail.ingredients.each do |ingredient| %>
                    <%= ingredient.name %>
                  <% end %>
                </div>
              </div>

            <% else %>

              <div class="card image-spin" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= image_path("babybottle.png") %>);">
                <div class="card-description">
                  <h2><%= cocktail.name %></h2>
                  <%  cocktail.ingredients.each do |ingredient| %>
                    <%= ingredient.name %>
                  <% end %>
                </div>
              </div>

            <% end %>

          <% end %>
        </div>
      <% end %>
    </div>

    <div class = "col-xs-12 col-md-4">

      <%= simple_form_for(@cocktail) do |f| %>

        <%= f.input :name, placeholder: "Mojito" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Add a cocktail", class:"navbar-wagon-item navbar-wagon-button btn btn-size" %>
      <% end %>

      <%= image_tag "baby drinker.jpg", class: "community" %>

      <%= link_to "Join the community", "#", class:"navbar-wagon-item navbar-wagon-button btn btn-size" %>

    </div >

  </div>

</div>

