<div class="container ">

  <h2 class ="text-center">Enjoy your <%= @cocktail.name %></h2>

  <div class = "row">

    <% if @cocktail.photo.url %>

      <div class ="col-xs-12 col-md-6">
        <%= cl_image_tag @cocktail.photo, height: 400, width: 500, crop: :fill %>
      </div>

    <% else %>

      <div class ="col-xs-12 col-md-6">
        <%= image_tag "cocktailback.jpg", height: 400, width: 500, class: "img-responsive"%>
      </div>

    <% end %>



    <div class ="col-xs-12 col-md-6">
      <p><%= @cocktail.name %> is made by your favourite barman with the following <strong> ingredients </strong> : </p>
      <dl class="dl-horizontal text-overflow">
        <% @cocktail.doses.each do|dose| %>
          <dt class = "text-overflow">
            <%= link_to dose.ingredient.name, ingredient_path(dose.ingredient) %>
          </dt>
          <dd>
            <%= dose.description.capitalize %>
            <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fa fa-trash"></i>
            <% end %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>

  <div class = "row">

    <div class ="col-md-offset-6 col-xs-12 col-md-6">
      <h4>Add an ingredient to <%= @cocktail.name %></h4>

        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.association :ingredient %>
          <%= f.input :description %>
          <%= f.submit "add an ingredient", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>

</div>

